<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.charge.mapper.SumreportMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.charge.model.Sumreport" >
    <id column="SID" property="sid" jdbcType="INTEGER" />
    <result column="Typee" property="typee" jdbcType="INTEGER" />
    <result column="ReportYear" property="reportyear" jdbcType="INTEGER" />
    <result column="ReportMonth" property="reportmonth" jdbcType="INTEGER" />
    <result column="C1" property="c1" jdbcType="VARCHAR" />
    <result column="C2" property="c2" jdbcType="VARCHAR" />
    <result column="C3" property="c3" jdbcType="VARCHAR" />
    <result column="C4" property="c4" jdbcType="VARCHAR" />
    <result column="C5" property="c5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SID, Typee, ReportYear, ReportMonth, C1, C2, C3, C4, C5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from py_sumreport
    where SID = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from py_sumreport
    where SID = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.charge.model.Sumreport" >
    insert into py_sumreport (SID, Typee, ReportYear, 
      ReportMonth, C1, C2, 
      C3, C4, C5)
    values (#{sid,jdbcType=INTEGER}, #{typee,jdbcType=INTEGER}, #{reportyear,jdbcType=INTEGER}, 
      #{reportmonth,jdbcType=INTEGER}, #{c1,jdbcType=VARCHAR}, #{c2,jdbcType=VARCHAR}, 
      #{c3,jdbcType=VARCHAR}, #{c4,jdbcType=VARCHAR}, #{c5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.charge.model.Sumreport" >
    insert into py_sumreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="typee != null" >
        Typee,
      </if>
      <if test="reportyear != null" >
        ReportYear,
      </if>
      <if test="reportmonth != null" >
        ReportMonth,
      </if>
      <if test="c1 != null" >
        C1,
      </if>
      <if test="c2 != null" >
        C2,
      </if>
      <if test="c3 != null" >
        C3,
      </if>
      <if test="c4 != null" >
        C4,
      </if>
      <if test="c5 != null" >
        C5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="typee != null" >
        #{typee,jdbcType=INTEGER},
      </if>
      <if test="reportyear != null" >
        #{reportyear,jdbcType=INTEGER},
      </if>
      <if test="reportmonth != null" >
        #{reportmonth,jdbcType=INTEGER},
      </if>
      <if test="c1 != null" >
        #{c1,jdbcType=VARCHAR},
      </if>
      <if test="c2 != null" >
        #{c2,jdbcType=VARCHAR},
      </if>
      <if test="c3 != null" >
        #{c3,jdbcType=VARCHAR},
      </if>
      <if test="c4 != null" >
        #{c4,jdbcType=VARCHAR},
      </if>
      <if test="c5 != null" >
        #{c5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.charge.model.Sumreport" >
    update py_sumreport
    <set >
      <if test="typee != null" >
        Typee = #{typee,jdbcType=INTEGER},
      </if>
      <if test="reportyear != null" >
        ReportYear = #{reportyear,jdbcType=INTEGER},
      </if>
      <if test="reportmonth != null" >
        ReportMonth = #{reportmonth,jdbcType=INTEGER},
      </if>
      <if test="c1 != null" >
        C1 = #{c1,jdbcType=VARCHAR},
      </if>
      <if test="c2 != null" >
        C2 = #{c2,jdbcType=VARCHAR},
      </if>
      <if test="c3 != null" >
        C3 = #{c3,jdbcType=VARCHAR},
      </if>
      <if test="c4 != null" >
        C4 = #{c4,jdbcType=VARCHAR},
      </if>
      <if test="c5 != null" >
        C5 = #{c5,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.charge.model.Sumreport" >
    update py_sumreport
    set Typee = #{typee,jdbcType=INTEGER},
      ReportYear = #{reportyear,jdbcType=INTEGER},
      ReportMonth = #{reportmonth,jdbcType=INTEGER},
      C1 = #{c1,jdbcType=VARCHAR},
      C2 = #{c2,jdbcType=VARCHAR},
      C3 = #{c3,jdbcType=VARCHAR},
      C4 = #{c4,jdbcType=VARCHAR},
      C5 = #{c5,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=INTEGER}
  </update>
</mapper>